body {
  padding-top: 4em;
}

table, td, th {
  vertical-align: middle; border: none;
}

th, td, p {
  padding: 0.5em 1em 0.5em 0;
}

th {
  border-bottom: 1px solid #ABC;
}

.field, .actions {
  padding: 0.5em 0.5em 0.5em 0;
}

#notice {
  font-weight: bold;
  color: #21910A;
}

.error-count, .error-message {
  color: #F31;
}
